
.star {
    display: inline-block;  
    cursor: pointer;
  }
  
  .inactive, .active {
    background: transparent;
   
  }
  
  .container{
      padding: 15px;
  }
  
  .cart {
      font-size: 155px;
    
  }
  
  .deleteButton {
      background-color: transparent;
      border: none;
     
  }

  .badge, .produt-name-cart, .trashh{
      color: #206a5d;
      font-size: 20px;
  }

  .add-btn{
    text-align: center;
  }

  .my-4{
      color: #0d6efd;
      text-align: center;
  }

  .total-price{
      text-align: center;
      color: #0d6efd;
  }

  .produt-name-cart{
      border: 1px solid black;
  }


